
.drop_btn {
  border: solid 10px black;
  border: solid 10px var(--black);
  font-family: "Open Sans";
  font-weight: 700;
  height: 13%;
  margin: 1.2em 0 .5em 0;
  text-align: center;
  width: 60%;
}

.drop_btn label {
  font-size: .8em;
  text-align: center;
}

.drop_btn_label {
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}

label {
 font-family: "Open Sans";
 font-size: xx-small;
}

.line {
  border: solid .5px black;
  height: .1%;
  margin-bottom: 1em;
  width: 60%;
}

.signin_btn {
  color: black;
  font-family: "Open Sans";
  font-size: .8em;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.7px;
  line-height: normal;
  margin: 0 1.5em;
  text-align: center;
}

.container_signin_btn {
  margin-bottom: 0;
}

.signup_btn {
  align-self: center;
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 90%;
  padding: 1em;
  text-align: center;
}

.container_signup_btn {
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  height: 3em;
  margin: .5em 0 1em 0;
  text-align: center;
  width: 60%;
}
.signup_image_area {
  background-color: #2fbcf7;
  flex-basis:50%;
}

.signup_input {
  border: solid 10px black;
  border: solid 10px var(--black);
  color: red;
  font-family: "Open Sans";
  height: 13%;
  margin-bottom: .5em;
  width: 60%;
}

.signup_input input {
  display: flex;
  font-size: 1em;
  height: 3em;
  margin-bottom: 0;
}

.signup_input label {
  font-size: .8em;
  text-align: center;
}

.signup_input_area {
  align-content: center;
  align-items: center;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  size: 1vw;
}

.signup_input_area_main_block {
  align-items: center;
  display: flex;
  font-size: 1vw;
  flex-direction: column;
  height: 100%;
  margin-top: 8%;
  width: 40%;
}

.signup_menu {
  display: flex;
}

.signup_title {
  font-family: "Open Sans";
  font-size: 2em;
  font-weight: bold;
}
