@import 'settings';

.drop_btn {
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}

.drop_btn_label {
  font-size: 0.7rem;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}

label {
 font-family: "Open Sans";
 font-size: xx-small;
}

.signin_btn {
  background-color: black;
  box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.3);
  font-family: "Open Sans";
  font-size: xx-small;
}

.signup_btn {
  align-self: center;
  background-color: black;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

.signup_image_area {
  background-color: #2fbcf7;
  flex-basis:50%;
  height: 768px;
  weight: 683px;
}

.signup_input {
  color:red;
  text-align: center;
}

.signup_input_area {
  align-content: center;
  align-items: center;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

.signup_input_area_main_block {
  display: flex;
  flex-direction: column;
  height: 37px;
  width: 180px;
  margin-top: 8%;
}

.signup_menu {
  display: flex;
}

.signup_title {
  font-family: "Open Sans";
  font-size: 27px;
  font-weight: bold;
}
